target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

.idea
./.idea/*
/src/main/java/com/careerit/jfs/cj/jdbc/ConnectionUtil.java
/src/main/java/com/careerit/jfs/cj/jdbc/assignment/Contact.java
/src/main/java/com/careerit/jfs/cj/jdbc/assignment/ContactDao.java
/src/main/java/com/careerit/jfs/cj/jdbc/assignment/ContactDaoImpl.java
/src/main/java/com/careerit/jfs/cj/jdbc/assignment/ContactManager.java
/src/main/java/com/careerit/jfs/cj/jdbc/assignment/ContactQueries.java
/src/main/java/com/careerit/jfs/cj/jdbc/assignment/ContactService.java
/src/main/java/com/careerit/jfs/cj/jdbc/assignment/ContactServiceImpl.java
/src/main/java/com/careerit/jfs/cj/jdbc/DbManager.java
/src/main/java/com/careerit/jfs/cj/jdbc/DbQueries.java
/EmployeeDAO.java
